@using System.Net.Configuration
@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h1>BusInfo</h1>

<div class="row" style="font-size:20px">
    <p>You entered postcode @Model.PostCode</p>
</div>
@if (Model.StopData.Count == 0) {
    <div class="row" style="font-size:20px">No bus stops nearby</div>
}
@foreach (var busStop in Model.StopData) {
    <div class="row" style="font-size:24px">Bus stop: @busStop.Key.CommonName (@((int)busStop.Key.Distance)m)</div>
    if (busStop.Value.Count == 0) {
        <div class="row" style="font-size:20px">No buses expected at this stop.</div>
    }
    foreach (var arrival in busStop.Value) {
        <div class="row" style="font-size:20px">@Html.Raw(arrival)</div>
    }          
    <br>
}
